# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
backend/venv/
backend/ENV/
backend/build/
backend/develop-eggs/
backend/dist/
backend/downloads/
backend/eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# 数据库
*.db
*.sqlite
*.sqlite3

# 环境变量
.env

# IDE 文件
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# 日志
logs/
*.log

# 临时文件
.tmp/
.temp/

# 媒体文件
media/
uploads/

# 其他
.coverage
htmlcov/
.pytest_cache/
.tox/
frontend/node_modules/
